.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc {
    display: flex;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8585ad;
    margin: 0 10px;
}
