.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.link {
    color: #4C4CFF;
    text-decoration: none;
    margin-left: 8px;
}