.totalCoast {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 40px;
}
.coast {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.coast svg {
    width: 36px;
    height: 36px;
}
