.card {
  background-color: #1c1c21;
  border-radius: 40px;
  padding: 24px;
  box-sizing: border-box;
  display: block;
  color: inherit;
  text-decoration: none;
  width: 600px;
  
}

.cardContainer:not(:last-child) {
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}

.priceInfo {
  display: flex;
  align-items: center;
}

.ingredientsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(28, 28, 33, 0.6);
  border-radius: 50%;
}

.priceContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.price {
  margin-right: 9px;
}
.ingredient {
  width: 60px;
  height: 60px;
  box-sizing: content-box;
  border-radius: 50%;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  padding: 2px;
  position: relative;
}
.ingredient:not(:last-child) {
  margin-left: -15px;
}
.ingredientImage {
  width: 60px;
  height: 60px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  background: #131316;
}
