.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1240px;
    margin: 0 auto;
}
.links {
    display: flex;
    margin-left: -20px;
}
.item {
    cursor: pointer;
    display: flex;
    padding: 16px 20px;
}
.logo {
    position: absolute;
    left: calc(50% - 145px);
}
